@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
body, HTML {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: lightgrey;
  background-color: rgb(31, 31, 31);
}

p {
  margin: 0;
}

h2, h3, h4 {
  margin: 0;
  padding: 20px 30px;
  color: rgb(240, 224, 0);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px 5px 20px;
  background-color: rgb(240, 224, 0);
  color: rgb(27, 27, 27);
  font-family: "Bebas Neue", sans-serif;
}
header h1 {
  margin: 0;
  font-size: 40px;
}
header ul {
  font-size: 20px;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style-type: none;
}
header ul li {
  margin: 0 8px;
}
header ul li a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}
header ul li a:hover {
  color: rgb(131, 131, 131);
}

footer {
  background-color: rgb(27, 27, 27);
  min-height: 100px;
  margin-top: 20px;
  text-align: center;
}
footer .copy {
  line-height: 50px;
}
footer a {
  text-decoration: none;
  color: lightgrey;
}
footer a:hover {
  color: grey;
}
footer .contacts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto 10px auto;
}

.banner {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  background-image: url("../assets/img/voitures-alignées.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-div {
  max-height: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
}
.main-div img {
  max-height: max-content;
  max-width: 50%;
}
.main-div p {
  padding: 10px 30px;
}

.main-adds {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main-adds ion-icon {
  border: 1px solid;
  border-radius: 50%;
  margin-right: 10px;
  padding: 3px;
  font-size: 16px;
}
.main-adds h3, .main-adds h4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.main-adds h4 {
  color: lightgrey;
}
.main-adds .services {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  text-align: center;
  width: 80%;
}
.main-adds .services .service {
  width: 30%;
}
.main-adds .services .service p {
  font-size: smaller;
  margin: 0 10px;
}
.main-adds hr {
  width: 30%;
  margin-top: 30px;
}
.main-adds .horaires {
  color: lightgrey;
}

#garage-banner {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  background-image: url("../assets/img/interieur-garage.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#garage {
  width: 100%;
  padding: 30px 30px 50px 30px;
  background-color: rgb(27, 27, 27);
  text-align: center;
}
#garage h2 {
  margin-bottom: 20px;
}
#garage p {
  margin: 20px 30px;
}

#cars {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
#cars img {
  height: 500px;
}

#prestations-banner {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  background-image: url("../assets/img/polissage-auto.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#prestations {
  width: 100%;
  padding: 30px 30px 50px 30px;
  background-color: rgb(27, 27, 27);
  text-align: center;
}
#prestations h2 {
  margin-bottom: 20px;
}
#prestations p {
  margin: 20px 30px;
}
#prestations li {
  text-align: left;
  list-style-type: circle;
}

#cars {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
#cars img {
  height: 500px;
}

.prestations-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

/*# sourceMappingURL=style.css.map */
