#garage-banner {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    background-image: url('../assets/img/interieur-garage.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#garage {
    width: 100%;
    padding: 30px 30px 50px 30px;
    background-color: $background-secondary;
    text-align: center;
    h2 {
        margin-bottom: 20px;
    }
    p {
        margin: 20px 30px;
    }
}

#cars {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    img {
        max-height: 500px;
    }
}