
$font-main-color: lightgrey;
$font-secondary-color: grey;
$font-title: white;

$background-main: rgb(31, 31, 31);
$background-secondary: rgb(19, 19, 19);

$header-background: rgb(240, 224, 0);
$header-font-color: rgb(27, 27, 27);

