
$font-main-color: lightgrey;
$font-secondary-color: grey;
$font-title: rgb(240, 224, 0);

$background-main: rgb(31, 31, 31);
$background-secondary: rgb(27, 27, 27);

$header-background: rgb(240, 224, 0);
$header-font-color: rgb(27, 27, 27);
$header-font-hover: rgb(131, 131, 131);

