
$font-main-color: lightgrey;
$font-secondary-color: grey;

$background-main: rgb(31, 31, 31);
$background-secondary: black;

$header-background: rgb(240, 224, 0);
$header-font-color: rgb(27, 27, 27);

